//FONT WEIGHT
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

//FONT SIZE
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-lg: 16px;
//TODO: Clarify sizing
$font-size-xlg: 20px;
$font-size-xl: 24px;

$font-size-base: $font-size-md;

//LINE HEIGHT

$line-height-sm: 120%;
$line-height-md: 20px;
$line-height-lg: 24px;
$line-height-xl: 36px;

$line-height-base: $line-height-md;
